@model Parking

@{
    ViewBag.Title = "Parking Charge Calculator";
}

<div class="jumbotron">
    <h1>Parking Rate Calculator</h1>
    <p class="lead">Parking Rate Calculator is a Web application to solve the problem of calculating parking using HTML, CSS and JavaScript.</p>
</div>

@using (Html.BeginForm("Calculate", "Home", new { parking = @Model }))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Calculate a parking charge</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Entry, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Entry, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Entry, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Exit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Exit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Exit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Calculate" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
